@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #211d55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-blue: #211d55;
  }
}

/* body {
  background: var(--brand-blue);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

/* html {
  height: 100vh;
} */

/* #IG-persona-iframe-container {
  inset: 165px 0px 20px 0px !important;
  width: 100vw !important;
  height: 88vh !important;
  max-width: none !important;
  max-height: 100vh !important;
} */
